.about {
    font-size: 1 rem;
    color: black(88, 71, 62);
    padding: 1rem;
}

.paragraph {
    background-color: rgb(207, 202, 191);
    border: black;
    border-radius: 1rem;
    margin: 0rem;
    padding: 1rem;
}