                /* .shop {
                    padding: 1rem;
                }
                
                .category {
                    background-color: beige;
                    display: flex;
                    flex-direction: row;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
                
                .category__name {
                    text-decoration: none;
                    color: black;
                }
                
                .category__name:hover {
                    text-decoration: none;
                    color: #3A5311;
                }
                
                .shop__title {
                    padding-left: 1rem;
                }
                
                .container {
                    display: flex;
                    flex-wrap: wrap;
                    padding: none;
                }
                
                .shopcard {
                    padding: 2%;
                    flex-grow: 1;
                    flex-basis: 16%;
                }
                
                .shop__item {
                    display: flex;
                    padding: 6%;
                    justify-content: center;
                }
                
                .shop__image {
                    border-radius: 0.5rem;
                }
                
                .shop__item__details {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    padding: 5%;
                    justify-content: space-between;
                }
                
                .shop__item__name {
                    color: #3A5311;
                    font-weight: 550;
                    display: block;
                }
                
                .shop__item__price {
                    display: inline-flex;
                } */
                .shop {
                    padding: 1rem;
                }
                
                .category {
                    background-color: beige;
                    display: flex;
                    flex-direction: row;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
                
                .category__name {
                    text-decoration: none;
                    color: black;
                }
                
                .category__name:hover {
                    text-decoration: none;
                    color: #3A5311;
                }
                
                .shop__title {
                    padding-left: 1rem;
                }
                
                .container {
                    display: flex;
                    flex-wrap: wrap;
                }
                
                .shopcard {
                    padding: 2%;
                    flex-grow: 1;
                    flex-basis: 16%;
                }
                
                .shop__item {
                    margin: 30px;
                }
                
                .shop__item__title {
                    display: block;
                    width: 100%;
                    text-align: left;
                    font-size: 1rem;
                    margin-bottom: 1px;
                }
                
                .shop__image {
                    border-radius: 0.5rem;
                }
                
                .shop__item__details {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px;
                }