html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 18px;
}
:root {
  --secondary-color: #3A5311;
  --primary-color: #a8a397;
  --tertiary-color: #F2EDE2;
}
* {
  box-sizing: border-box;
}
p {
  font-size: 14px;
}

a {
  color: #3A5311;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
@media only screen and (min-width: 600px) {
  
}
